
a:hover {
  text-decoration: none;
}

a:hover .thumbnail img {
  opacity: 0.5;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Header */
.header {
  background-color: #000;
}

.logo {
  width: 60px;
  margin: 15px 0;
  margin-right:5px;
  float:left;
}


/* Main */
html, body { 
  height: 100%; 
} 

.main {
  padding-top: 40px;
  background-color: #1c1c1e;
  
  min-height: 100%; 
  height: auto !important;
  height: 100%; 
  margin: 0 auto 0;
  vertical-align: bottom;
}

.poster {
  width:182px;
  height:268px;
}

.poster_default {
  width:182px;
  margin-top: 111px;
}

/* Thumbnail */
.thumbnail {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  padding: 0;
  height: 350px;
}

.title,
.rating {
  color: #fff;
  text-align: center;
}

.details {
  color: #fff;
}

.title,
.show-title {
  margin: 5px 0 3px 0;
  font-size: 16px;
  font-weight: 500;
}

.rating,
.show-rating {
  color: #c3c3c3;
  font-size: 12px;
  font-weight: 200;
}

/* Track */
.show {
  margin: 20px 0;
}


.show-title,
.show-rating,
.feature .name,
.feature .desc {
  color: #fff;
}

.show-title {
  font-size: 30px;
}

.show-rating {
  margin-bottom: 25px;
}

.feature {
  margin-top: 10px;
}

.feature:hover {
  background: rgba(255,255,255,0.1);
}

.feature .name {
  font-size: 24px;
  font-weight: 100;
}

.feature .desc {
  padding-top: 12px;
  text-align: center;
}

.feature:last-child {
  margin-bottom: 80px;
}

/* Footer */
.footer {
  background-color: #000;
  color: #fff;
  padding: 50px 0 35px 0;
}

.footer h3 {
  text-transform: uppercase;
  font-size: 15px;
}

.footer ul {
  padding: 0;
  list-style: none;
}

.footer a {
  color: #aaa;
  font-size: 13px;
  display: inline-block;
  padding: 5px 0;
}