    <!--
    TODO: Loop through each show and display details with this HTML
    -->

<div class="show row">
  <div class="cover col-md-4">  <img src="<%= @show.image %>"> </div>

  <div class="col-sm-8">
    <h3 class="title"> <%= @show.title %> </h3>
    <p class="starring"> <%= @show.starring %> </p>

    
  </div>
</div>