<div class="show row">
  <div class="cover col-md-4">  <img src="http://image.tmdb.org/t/p/w500/<%=@show['poster_path']%>" style="width:182px;height:268px;"> </div>

  <div class="col-sm-8">
    <h3 class="title"> <%= @show["original_name"] %> </h3>
    <p class="starring"> User Rating: <%= @show["vote_average"] %> </p>
    
  </div>
</div>